= form_for @page, html: { class: 'form-horizontal', role: 'form' } do |f|

  %div.form-group
    %label.col-sm-4.control-label{ for: 'inputPageName' }
      Name
    %div.col-sm-8
      - if action_name == "show"
        = f.text_field :name, autofocus: true, :class => "form-control", disabled: :true
      - else
        = f.text_field :name, autofocus: true, :class => "form-control"
  %div.form-group
    %label.col-sm-4.control-label{ for: 'inputPageDescriprion' }
      Descriprion
    %div.col-sm-8
      - if action_name == "show"
        = f.text_area :description, autofocus: true, :class => "form-control", disabled: :true
      - else
        = f.text_area :description, autofocus: true, :class => "form-control"
  %div.form-group
    %label.col-sm-4.control-label{ for: 'inputPageAddressn' }
      Address
    %div.col-sm-8
      - if action_name == "show"
        = f.text_field :address, autofocus: true, :class => "form-control", disabled: :true
      - else
        = f.text_field :address, autofocus: true, :class => "form-control"
  %div.form-group
    %label.col-sm-4.control-label{ for: 'inputPageTags' }
      Tags
    %div.col-sm-8
      - if action_name == "show"
        = f.text_area :tags, autofocus: true, :class => "form-control", disabled: :true
      - else
        = f.text_area :tags, autofocus: true, :class => "form-control"
      
  %div.form-group
    %label.col-sm-4.control-label
    %div.col-sm-8
      = link_to t('.back'), pages_path, {class: "btn btn-default button" }
      - unless action_name == "show"
        %button.btn.btn-default{ type: "submit button" }
          = t('.submit')
